.App {
	text-align: center;
	min-width: 300px;
	
  }

  p, h1, h2, h3, h4, h5{
	  color: #666;
  }
  
  
  .main-video{
	width: 100%;
  }
  
  .main-video-container{
	height: 100vh;
	overflow: hidden;
  }
  
  .logo{
	margin-top: 19px;
	margin-bottom: 19px;
	margin-left: 15px;
	margin-right: 15px;
	max-width: 370px;
  }

  
  .white-bg{
	background-color: white
  }
  
  .white{
	color: white;
	font-family: 'Ranga', cursive;
	font-size: 55px;
  }
  
  .learn-more{
	border: 2px solid #fff;
	width: 80px;
	height: 80px;
	border-radius: 100px;
	margin-bottom: 20px;
  }
  
  .learn-more p{
	padding-top: 30px;
	color: white;
	font-size: 15px;
	font-family: 'Dancing Script', cursive;
  }
  
  a:hover, a:visited, a:link, a:active
  {
	  text-decoration: none;
  }
  

  
  
  .project-types{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
	margin: 5px;
  }
  
  .project-types p{
	color: white;
	vertical-align: middle;
  }
  
   .project-types-info h1{
	padding-top: 50px;
	color: #CCC;
	font-size: 45px;
	font-family: 'Ranga', cursive;
  }
  
  .project-types-info h2{
   padding-top: 20px;
   padding-left: 40px;
   padding-right: 40px;
   color: #666;
   font-size: 16px;
  
  }
  
  img{
	width: 100%
  }
  
  
  .starting-at{
	font-size: 20px;
	font-family: 'Exo 2', sans-serif;
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 0px;
  }
  
  .starting-at-price{
	font-size: 35px;
  
  }
  
  
  .fourth-row{
	padding: 60px 40px 60px 40px;
	color: white;
	background: #666;
	margin-top: 5px;
	/* font-size: 20px; */
	border-bottom: 10px solid rgb(51, 51, 51)
  }
  
  
  #map {
	height: 700px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
  }
  



  button{
    color: #FFF;
    /* width: 100%; */
    text-align: center;
    border: 0px;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    font-size: 16px;
    outline: 0;
    cursor: pointer;
}
  
.blue-button{
    color: #FFF;
    background-color: rgb(40, 154, 207) ;
    box-shadow: 0 2px rgb(26, 105, 141);
}
  
.blue-button:hover{
    box-shadow: 0 1px rgb(26, 105, 141);
}

.blue-button:active{
    box-shadow: 0 0px rgb(26, 105, 141);
}


.slate-gray-button{
    color: #FFF;
    background-color: rgb(33, 59, 71) ;
    box-shadow: 0 2px rgb(121, 183, 212);
}
  
.slate-gray-button:hover{
    box-shadow: 0 1px rgb(121, 183, 212);
}

.slate-gray-button:active{
    box-shadow: 0 0px;
}



#modal{
	display:none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4)
}
#modal-content{
	background-color: #fefefe;
	margin: 4% auto;
	border: 1px solid #888888;
	width: 400px;
}
#modal-close{
    color: #FFF;
	float: right;
	margin-right: -15px;
	margin-top: -15px;
	font-size: 18px;
	padding: 6px 11px 6px 11px;
	border-radius: 100px;
    cursor: pointer;
	position: relative;
    text-align: center;
    background-color: rgb(196, 196, 196);
	box-shadow: 0 2px rgb(167, 167, 167);
}
#modal-close:hover{
	box-shadow: 0 1px rgb(167, 167, 167);
}
#modal-close:active{
	box-shadow: 0 0 rgb(167, 167, 167);
}
#authentication{
	padding: 40px 20px 20px 20px;
}

@media (min-width: 100px){
	.hero-banner-container{
		z-index: 1;
		position: relative;
		height: 200px;
		overflow: hidden;
		text-align: center;
	}
	.painting-contractors{
		position: absolute;
		z-index: 100;
		width: 100%;
		top: 50px;
		color: #FFF;
		font-size: 16px;
		background-color: rgba(0, 0, 0, 0.432);
		padding: 20px 0px 20px 0px
	}
	.services-row > div {
		margin: 0px 20px 0px 20px;
	}

	.nav-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
	}
	.logo{
		grid-column-end: span 2;
	}
	.get-quote{
		text-align: right;
	}

	.services-row{
		display: grid;
		grid-template-columns: 1fr
	  }
}

@media (min-width: 300px){
	.hero-banner-container{
		height: 300px
	}
	.painting-contractors{
		position: absolute;
		z-index: 100;
		width: 100%;
		top: 200px;
		color: #FFF;
		font-size: 20px;
		background-color: rgba(0, 0, 0, 0.432);
		padding: 30px 0px 30px 0px
	}
	
}

@media (min-width: 700px){

	.nav-grid{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 20px;
	}
	.painting-contractors{
		top: 100px;
	}
	.logo{
		grid-column-end: span 1;
	}
	
	  .services-row{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 40px;
		margin: 0px 40px 40px 40px;
	  }

	  .services-row > div {
		margin: 0px;
	}
}


@media (min-width: 1300px){
	.hero-banner-container{
		height: 600px;
	}
	.painting-contractors{
		position: absolute;
		z-index: 100;
		width: 100%;
		top: 180px;
		color: #FFF;
		font-size: 54px;
		background-color: rgba(0, 0, 0, 0.432);
		padding: 60px 0px 60px 0px
	}
}
